# Documentation: https://rmk.rs/docs/configuration.html
[keyboard]
name = "inachron"
product_name = "inachron"
vendor_id = 0x4c4b
product_id = 0x4643
manufacturer = "innin"
# serial_number = "vial:f64c2b3c"
chip = "rp2040"

# [matrix]
# not used for split keyboards

[layout]
rows = 4
cols = 10
layers = 1

keymap = [
    [
      ["Q", "W", "F", "P", "B", "J", "L", "U", "Y", "'",],
      ["A", "R", "S", "T", "G", "M", "N", "E", "I", "O",],
      ["Z", "X", "C", "D", "V", "K", "H", ";", ":", "?",],
      ["_", "_", "_", "LCtrl", "Space", "LShift", "Backspace", "_", "_", "_",],
    ],
]

[split]
connection = "serial"

[split.central]
rows = 4
cols = 5
row_offset = 0
col_offset = 0
serial = [{ instance = "PIO0", tx_pin = "PIN_1", rx_pin = "PIN_1" }]
[split.central.matrix]
matrix_type = "direct_pin"
direct_pins = [
  ["PIN_7",  "PIN_26", "PIN_27", "PIN_28", "PIN_29", ],
  ["PIN_22", "PIN_20", "PIN_23", "PIN_21", "PIN_0",  ],
  ["PIN_2",  "PIN_3",  "PIN_4",  "PIN_5",  "PIN_6",  ],
  ["_",      "_",      "_",      "PIN_8",  "PIN_9",  ],
]



[[split.peripheral]]
rows = 4
cols = 5
row_offset = 0
col_offset = 5
serial = [{ instance = "PIO0", tx_pin = "PIN_1", rx_pin = "PIN_1" }]
[split.peripheral.matrix]
matrix_type = "direct_pin"
direct_pins = [
  ["PIN_29", "PIN_28", "PIN_27", "PIN_26", "PIN_7", ],
  ["PIN_0", "PIN_21", "PIN_23", "PIN_20", "PIN_22", ],
  ["PIN_6", "PIN_5", "PIN_4", "PIN_3", "PIN_2", ],
  ["PIN_9", "PIN_8", "_", "_", "_", ],
]
